<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <%= link_to 'Add new person', people_new_path %>
        <table>
            <% @people.each do |person| %>
                <tr>
                    <td><%= person.name %></td>
                    <td> <%= person.age %></td>
                    <td><%= link_to 'Edit', people_edit_path(person) %></td>
                    <td><%= link_to 'Show', person_path(person) %></td>
                    <td><%= link_to 'Delete',person_destroy_path(person), method: :delete, data:{confirm: "Are you sure you want to delete this entry?"} %></td>
                </tr>
            <% end %>
        </table>

    </body>
</html>
