<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @attachment.image %>
</p>

<p>
  <strong>Product:</strong>
  <%= @attachment.product %>
</p>

<%= link_to 'Edit', edit_attachment_path(@attachment) %> |
<%= link_to 'Back', attachments_path %>
