<p id="notice"><%= notice %></p>

<h1>Seller Buyers</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Product</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @seller_buyers.each do |seller_buyer| %>
      <tr>
        <td><%= seller_buyer.user %></td>
        <td><%= seller_buyer.product %></td>
        <td><%= link_to 'Show', seller_buyer %></td>
        <td><%= link_to 'Edit', edit_seller_buyer_path(seller_buyer) %></td>
        <td><%= link_to 'Destroy', seller_buyer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Seller Buyer', new_seller_buyer_path %>
