<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @seller_buyer.user %>
</p>

<p>
  <strong>Product:</strong>
  <%= @seller_buyer.product %>
</p>

<%= link_to 'Edit', edit_seller_buyer_path(@seller_buyer) %> |
<%= link_to 'Back', seller_buyers_path %>
