<p id="notice"><%= notice %></p>


<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Product Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Quanity:</strong>
  <%= @product.quanity %>
</p>

<%= render 'attachments/form', attachment: @attachment, product: @product %>


<% @product.attachments.each do |attachment| %>

   <%= image_tag(attachment.image_url) %>

<% end %>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
